@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
    --color-primary: #6c25ff;
    --color-primary-dark: #4e14c7;
    --color-secondary: #cebafb;
    --color-secondary-dark: #b8a6e0;
    --color-accent: #f7f8f9;
    --color-accent-dark: #cbcbcb;
    --color-dark: #1d2226;
    --font-rubik: "Rubik", sans-serif;
}

button:disabled {
    color: white;
    background-color: #cbcbcb;
    cursor: not-allowed;
}
